@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-primary: #9f1239;
  --theme-bg: #fff1f2;
}

body {
  @apply text-slate-800 antialiased;
  background-color: var(--theme-bg);
}
