services:
  # Strapi 后端服务
  strapi:
    image:  registry.jcts.xyz/my-strapi-app:latest
    container_name: strapi
    restart: unless-stopped
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_NAME: association
      DATABASE_HOST: 192.168.1.13
      DATABASE_PORT: 15432
      DATABASE_USERNAME: jcpgadmin
      DATABASE_PASSWORD: jc@pgadmin
      APP_KEYS: appKey1,appKey2,appKey3,appKey4
      API_TOKEN_SALT: apiTokenSalt
      ADMIN_JWT_SECRET: adminJwtSecret
      TRANSFER_TOKEN_SALT: transferTokenSalt
      JWT_SECRET: jwtSecret

    volumes:
      - /data/01-runtime/laozihao/uploads:/opt/app/public/uploads

    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web

      - traefik.http.routers.strapi.entrypoints=websecure
      - traefik.http.routers.strapi.tls.certresolver=letsencrypt
      - traefik.http.routers.strapi.priority=100

      - "traefik.http.routers.strapi.rule=Host(`lzhapi.jcts.xyz`)"
      - "traefik.http.services.strapi.loadbalancer.server.port=1337"  # Traefik 转发到 8080

  # Nuxt3 前端服务
  nuxt:
    image: registry.jcts.xyz/my-nuxt3-app:latest
    container_name: nuxt3
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      NODE_ENV: production
      # 前端访问 Strapi 的 base（你前端如果用运行时 env）
      NUXT_PUBLIC_API_BASE: https://lzhapi.jcts.xyz
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web

      - traefik.http.routers.nuxt.entrypoints=websecure
      - traefik.http.routers.nuxt.tls.certresolver=letsencrypt
      - traefik.http.routers.nuxt.priority=100

      - "traefik.http.routers.nuxt.rule=Host(`lzh.jcts.xyz`)"
      - "traefik.http.services.nuxt.loadbalancer.server.port=3000"  # Traefik 转发到 8080



networks:
  web:
    external: true